
/* ==Reset / Global== */
body {
font-family: 'Manrope', sans-serif;
display: flex;
flex-direction: column;
min-height: 100vh; /* altura mínima da tela */
margin: 0;
padding: 0;
}

/* ==Conteúdo principal== */

.content {
display: flex;
justify-content: space-around;
flex: 1; 
}

/* ==Artigos e links== */
#artigos, #ancoras {
list-style: none;
margin: 0;
padding: 0;
}

ul li {
list-style: none;
margin-bottom: 0.625rem; 
cursor: pointer;
margin:0px;
}

ul li a {
text-decoration: none;
color: inherit; 
}

/* ==Footer== */
footer {
margin-top: 2rem;
padding: 1rem;
text-align: center;
background-color: #f8f8f8; /* opcional, pra destacar */
}

/* ==Navegação / Header== */
nav {
width: 100%;
height: 3.75rem; 
background-color: #f8f9fa;
display: flex;
align-items: center;
padding: 0 1.25rem; 
box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,0.1); 
z-index: 1000;
}

nav #links {
border: 1px solid #333;
}

.logo {
font-weight: bold;
font-size: 1.2rem;
}

.hamburger {
display: flex;
flex-direction: column;
gap: 0.3125rem; 
cursor: pointer;
justify-content: space-between;
}

.hamburger span {
display: block;
width: 1.5625rem; 
height: 0.1875rem; 
background-color: #333;
}